.card-shadow{
    /* border: 1px solid #ddd; */
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.23), inset 1px 1px 0 0 hsla(0,0%,100%,.2);
    margin: 16px 0px;

    max-height: 105px;
    position: relative;
    background-color: #fff;
    padding:11px 25px;
}


.fa-theme-icon{
    margin-top:13px;
    color:  rgba(197, 45, 47, 0.55);
}


.logo{
    color: #fff;
    font-size: 1.7em;
    font-weight: 300;
    position: relative;
    text-transform: uppercase;
    top: 0.625em;
}
.compare .card {
    border: 1px solid rgb(202, 200, 200);
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: .25s;
    -webkit-transition:.25s;
    -moz-transition:.25s;
}
.compare .card:hover {
    box-shadow: 1px 1px 1px 2px #bbb;
}
.compare .card-image {
    position: inherit;
    opacity: 1;
    height: auto;
    padding: 0;
    border: 1px solid #ebebeb;
}
.compare .card-image img{
	width: 100%;
	object-fit: cover;
    height:245px;
}
.card .feature {
    position: absolute;
    color: #fff;
    z-index: 1029;
    background: #1f1f20;
    height: 150px;
    top: -61px;
    left: -36px;
    width: 100px;
    text-align: right;
    transform: rotate(45deg);
}
section:nth-child(1){
    padding-top: 119px;
}
.card .feature h6.text {
    position: inherit;
        right: -4px;
    bottom: 58px;
    color: #fff;
    transform: rotate(-90deg);
    font-size: 15px;
    text-transform: uppercase;
}
.card .feature i.fa {
    position: inherit;
    right: 10px;
    bottom: 82px;
    font-size: 21px;
}
.compare .card .content {
    text-align: left;
    padding: 22px;
        border-top: 1px solid rgba(179, 179, 179, 0.07);
}
.compare .card .content label {
    font-weight: 100;
    display: inline-block;
    height: 20px;
    margin-bottom: 15px;
    padding-right: 40px;
    vertical-align: middle;
    font-size: 18px;
    float: right;
}
.compare .card .content input[type="checkbox"] {
    height: 20px;
    width: 20px;
    margin: 0px;
    margin-top: 3px;
}
.compare .card .content h4.text {
    margin: 0px;
    font-weight: 100;
    font-size: 14px;
    line-height: 22px;
    margin-top: 15px;
}
.center {
    text-align: center;
    padding-bottom: 8px;
}
.padding-top-24{
	padding-top:24px;
}
.padding-bottom-24{
	padding-bottom:24px;
}
.membership-pricing-table {
  width: 100%;
    margin:0px auto;
}

 .icon-no,.icon-yes {
    font-size: 22px;
}

.icon-no {
    color: #a93717!important;
}

.icon-yes {
    color: #209e61!important;
}

.plan-header {
    text-align: center;
    font-size: 48px;
    border: 1px solid #e2e2e2;
    padding: 25px 0;
}

.membership-pricing-table table .plan-header-free {
    background-color: #eee;
    color: #555;
}

.membership-pricing-table table .plan-header-blue {
    color: #fff;
    background: #27AE60;
 /*   background-color: #61a1d1;
    border-color: #3989c6*/
}

.membership-pricing-table table .plan-header-standard {
    color: #fff;
    background-color: #ff9317;
    border-color: #e37900
}

.membership-pricing-table table td {
    text-align: center;
    width: 15%;
    padding: 7px 10px;
    background-color: #fafafa;
    font-size: 14px;
    -webkit-box-shadow: 0 1px 0 #fff inset;
    box-shadow: 0 1px 0 #fff inset
}

.membership-pricing-table table,.membership-pricing-table table td {
    border: 1px solid #ebebeb
}

.membership-pricing-table table tr td:first-child {
    background-color: transparent;
    text-align: left;
    width: 24%
}

.membership-pricing-table table tr td:nth-child(5) {
    /*background-color: #FFF*/
}

.membership-pricing-table table tr:first-child td,.membership-pricing-table table tr:nth-child(2) td {
    -webkit-box-shadow: none;
    box-shadow: none
}

.membership-pricing-table table tr:first-child th:first-child {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: #e2e2e2;
    background-color: #e24f43;
    color: #fff;
    text-align: center;
}

.membership-pricing-table table tr:first-child th .pricing-plan-name {
    font-size: 22px
}
.tab-pane .media-body {
    overflow: hidden;
    float: left;
    min-height: 253px;
}
.tab-content img {
       border-radius: 4px;
    height: 125px;
    display: inline-block;
}
.tab-content .tab-pane .sec-1 .sec-1-content .btn-primary {
    display: inline-block;
    margin-top: 1px;
}
.tab-content .tab-pane .sec-1 .sec-1-content {
    padding-top: 6px;
}
.tab-content .tab-pane .sec-1 {
    text-align: center;
}
.tab-content .tab-pane .sec-1:nth-child(1) {
    border: none;
}
.tab-content .tab-pane .sec-1 {
    text-align: center;
    border-left: 1px solid rgba(153, 153, 153, 0.37);
}
p.logo img {
    margin-top: -3px;
    height: 40px;
}
.item-1, item-2, item-3, .item-4 {
    margin-bottom: 24px;
}
.fixed{
	    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1011;
}
.overlay-box{
    position: absolute;
    left: 0px;
    right: 0px;
    background: rgba(34, 34, 34, 0.16);
    top: 0px;
    bottom: 0px;
    opacity: 0.4;
    z-index: -2;
}
.membership-pricing-table table tr:first-child th .pricing-plan-price {
    line-height: 35px
}

.membership-pricing-table table tr:first-child th .pricing-plan-price>sup {
    font-size: 45%
}

.membership-pricing-table table tr:first-child th .pricing-plan-price>span {
    font-size: 30%
}

.membership-pricing-table table tr:first-child th .pricing-plan-period {
    margin-top: -7px;
    font-size: 25%
}

.membership-pricing-table table .header-plan-inner {
    position: relative
}

.membership-pricing-table table .recommended-plan-ribbon {
    box-sizing: content-box;
    background-color: #dc3b5d;
    color: #FFF;
    position: absolute;
    padding: 3px 6px;
    font-size: 11px!important;
    font-weight: 500;
    left: -6px;
    top: -22px;
    z-index: 99;
    width: 100%;
    -webkit-box-shadow: 0 -1px #c2284c inset;
    box-shadow: 0 -1px #c2284c inset;
    text-shadow: 0 -1px #c2284c
}

.membership-pricing-table table .recommended-plan-ribbon:before {
    border: solid;
    border-color: #c2284c transparent;
    border-width: 6px 0 0 6px;
    bottom: -5px;
    content: "";
    left: 0;
    position: absolute;
    z-index: 90
}

.membership-pricing-table table .recommended-plan-ribbon:after {
    border: solid;
    border-color: #c2284c transparent;
    border-width: 6px 6px 0 0;
    bottom: -5px;
    content: "";
    right: 0;
    position: absolute;
    z-index: 90
}

.membership-pricing-table table .plan-head {
    box-sizing: content-box;
    background-color: #ff9c00;
    border: 1px solid #cf7300;
    position: absolute;
    top: -33px;
    left: -1px;
    height: 30px;
    width: 100%;
    border-bottom: none
}
table {
    max-width: 100%;
    background-color: transparent;
    width: 100%;
}
.banner-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner-inner {
    height: 480px;
    overflow: hidden;
    padding: 0px;
    margin-bottom: 40px;
}
.compare-wrap .first-content, .compare-wrap .second-content {
    border: .1px solid rgba(153, 153, 153, 0.38);
    padding: 0px;
    background: #f5f5f5;
    height: 420px;
    max-height: 480px;
}
.compare-wrap .first-content .image img, .compare-wrap .second-content .image img {
    height: 175px;
}
.compare-wrap{
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}

.compare-wrap .view-more {
        position: absolute;
    z-index: 11;
    bottom: 14px;
    left: 0px;
    right: 0px;
}
.compare-wrap .first-content .logo-image, .compare-wrap .second-content .logo-image {
    padding-top: 7px;
    padding-bottom: 12px;
    border-bottom: .1px solid rgba(153, 153, 153, 0.42);
    margin-bottom: 10px;
}
.compare-wrap .first-content .logo-image img, .compare-wrap .second-content .logo-image img {
    height: 28px;
}
.compare-wrap .first-content .name, .compare-wrap .second-content .name {
    border-top: .1px solid #ebebeb;
}
.compare-wrap .first-content .name .title, .compare-wrap .second-content .name .title {
    font-size: 17px;
    font-weight: 100;
    margin-top: 14px;
}
.Price-detail{
    color: #dc9a19;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 23px;
}
ul.feature-list {
    width: 100% !important;
/*   max-width: 340px; */
  padding: 20px 5px;
    margin: 0px;
    list-style-type: none!important;
}


ul.feature-list ul{
    list-style-type: none!important;

}
ul.feature-list li {
    position: relative;
    font-size: 14px;
    letter-spacing: .9px;
    font-weight: 100;
    padding-bottom: 8px;
}
ul.feature-list li:before {
    position: absolute;
    content: "\f00c";
    font-family: FontAwesome;
    left: 4px;
    color: #f0c419;
}
.compare-wrap .first-content .feature-content, .compare-wrap .second-content .feature-content {
    padding-bottom: 26px;
}
.product {
   border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 20px;
    margin-top: 1px;
    border-top: 1px solid #e2e2e2;
}
.page-title {
    font-size: 28px;
    font-weight: 700;
    color: #752122;
    margin-bottom: 0px;
    padding-top: 11px;
    margin-left: -20px;
}
.product-feature ul.feature-list li:before {
    left: -24px;
}
.product-feature ul.feature-list li {
    letter-spacing: .1px;
    font-weight: 700;
  word-wrap: break-word;
}
.product .product-image .image {
    border-right: 1px solid #e2e2e2;
}
.product .product-content {
    border-right: 1px solid #e2e2e2;
}
ul.tabs li {
    display: inline-block;
    padding: 10px 32px;
    font-size: 17px;
    /*border: 1px solid #e2e2e2;*/
    margin: 0px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    cursor: pointer;
    transition: .25s;
    -webkit-transition:.25s;
    -moz-transition:.25s;
    border-bottom: 2px solid rgba(255,255,255,0);
}
ul.tabs {
    list-style-type: none;
    padding-left: 11px;
    position: relative;
    border-bottom: 1px solid #e2e2e2;
}
ul.tabs li.active-tab {
    border-bottom: 2px solid #752122;
    color: #752122;
}
ul.tabs li:hover,ul.tabs li:focus {
    background: #fafafa;
    columns: #999;
}
.tabs-sec .tab-content .t {
    display: none;
}
.tabs-sec .tab-content .t.active-content {
    display: block;
}
h4.important i.fa {
    position: absolute;
    color: #f0c419;
    top: 0px;
    right: 53%;
}
h4.important:nth-child(3) {
    border-top: none;#fffdfd
}
h4.important {
    font-weight: 100;
    font-size: 14px;
    border-top: 1px solid #e2e2e2;
    margin: 0PX;
    padding: 6px 0px;
    border-bottom: 1px solid #e2e2e2;
    text-align: left;
    margin-right: 15px;
    position: relative;
}
.product .product-help .free-box .free-box-image img {
    height: 214px;
}
.product .product-help .free-box,.product .product-help .price-detail{
    overflow: hidden;clear: both;
        padding-top: 20px;
}
.product .product-help .free-box .free-box-image,.product .product-help .price-detail .price-offer {
    float: left;
    width: 35%;
    overflow: hidden;
}
.product .product-help .price-detail{
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    margin: 10px 0px;
    padding: 10px 0px;
}
.product .product-help .price-detail .price-offer {
    width:50%;
}
.product .product-help .price-detail .price-offer h4.price {
    font-weight: 100;
    letter-spacing: .9px;
    font-size: 15px;
    text-decoration: line-through;
}
.product .product-help .price-detail .price-offer h4.price.active-price {
    color: #752122;
    font-weight: 700;
    text-decoration: none;
    font-size: 17px;
}
.product .product-help .price-detail .buy-now {
    margin-top: 9px;
    display: inline-block;
    margin-left: 14PX;
}
.product .product-help .price-detail .price-offer h4.content {
    FONT-WEIGHT: 100;
    font-size: 14px;
    letter-spacing: 1px;
}
.faq-content .panel .panel-content{
    display: none;
    background: #fff;
    border: 1px solid #e2e2e2;
}
.product .product-image .image img {
    height: 364px;
    width: 100%;
}
.product .product-help .free-box .free-offer-content h3.title {
    margin-top: 0px;
}
.panel-title i.fa {
    float: right;
    font-size: 24px;
    margin-top: -10px;
}
ul.desc li:before {
    position: absolute;
    content: ">";
    left: -16px;
    top: 4px;
    color: #752122;
    font-weight: 700;
    font-size: 17px;
}
ul.desc li {
    list-style-type: none;
    position: relative;
    padding: 3px 0px;
    font-size: 15px;
    letter-spacing: .9px;
    width: 50%;
    float: left;
}
ul.desc {
    margin: 0px;
}
.no-gutter{
    padding-left: 0px;
    padding-right: 0px;
}
.channels .page-title {
    font-size: 23px;
    margin-bottom: 11px;
    margin-left: 0px;
    letter-spacing: .9px;
}
.channels {
    border: 1px solid #e2e2e2;
}
 .channels .channel-logo img {
    height: 56px;
    object-fit: cover;
}
.channels .channel-logo {
    float: left;
    margin: 10px 19px;
}
.compare-wrap.col-sm-4.col-md-3.col-xs-12 {
    text-align: center;
}
.compare-wrap.col-sm-4.col-md-3.col-xs-12 .first-content {
    box-shadow: 0px 0px 1px 2px #e2e2e2;
    overflow: hidden;
    padding-bottom: 18px;
}
.compare-wrap.col-sm-4.col-md-3.col-xs-12 .first-content .view-detail a, .compare-wrap.col-sm-4.col-md-3.col-xs-12 .first-content .buy-button a {
    padding: 7px 6px;
    font-size: 12px;
}
.compare-wrap.col-sm-4.col-md-3.col-xs-12 .new-gift-div {
    position: absolute;
    top: 48px;
    background: #752122;
    padding: 4px 10px;
    color: #fff;
}
.compare-wrap.col-sm-4.col-md-3.col-xs-12 .new-gift-div:after {
    position: inherit;
    content: "";
    border-top: 15px solid rgba(255, 255, 255, 0);
    border-right: 15px solid rgba(255, 255, 255, 0);
    border-bottom: 15px solid rgba(255, 255, 255, 0);
    border-left: 15px solid #752122;
    right: -30px;
    top: 0px;
}
.compare-wrap.col-sm-4.col-md-3.col-xs-12 .new-gift-div p {
    margin: 0px;
}
#middle .col-sm-6.wow.fadeInDown.animated.info .skill img{
   height: 422px;
    /* position: absolute; */
    /* top: -121px; */
    /* z-index: -9; */
    width: 544px;
    /* left: -32px; */
}




/*by garima*/
.viewmorebtn {
    position: absolute;
    text-transform: capitalize;
    right: -61px;
    top: 112px;
    width: 115px;
    height: 36px;
    background: #f5f5f5;
    text-align: center;
    transform: rotate(90deg);
    padding-top: 6px;
    color: #752122;
}
.bg-grey{
    background: #fefefe!important;
}

.bg-darkgrey{
    background: #f5f5f5;
}

.bold-text{
    font-size: 26px;

    text-transform: uppercase;
    margin-bottom: 18px;
    font-weight: 700;
}

.bold-subtext{
    font-size: 14px;
    font-weight: 800;
    color:#757575;
}

.form-custom-input{
    border-radius: 0px;
    padding: 20px!important;
    background: #f7f7f7;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border: 1px solid #d1d1d1;
}

label{
    color: #363636;
    font-size: 13px;
}

.border-r-b{
    border-right: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
}

.header-thankyou {
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 54;
    padding: 22px;
}

.thank-banner {
    background: url(../images/thankyou.jpg) center no-repeat;
    width: 100%;
    background-size: cover;
    height: 100vh;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}
.full-height {
    height: 100vh;
}


.bg-grey-theme{
  background-color: #e6e6e6;
    padding:20px 25px;
}
/*////////CSS helpers classes*/




/*////Margins//////*/

.m-0{
    margin: 0!important;
}

.m-5{
    margin: 5px!important;
}

.m-t-0{
    margin-top: 0!important;
}

.m-b-0{
    margin-bottom: 0!important;
}

.m-10{
    margin: 10px!important;
}

.m-t-5{
    margin-top: 5px!important;
}

.m-t-10{
    margin-top: 10px!important;
}


.m-t-20{
    margin-top: 20px!important;
}

.m-t-80{
    margin-top: 80px!important;
}



.m-b-5{
    margin-bottom: 5px!important;
}

.m-b-10{
    margin-bottom: 10px!important;
}

.m-b-20{
    margin-bottom: 20px!important;
}


.m-b-40{
    margin-bottom: 40px!important;
}

.m-t-40{
    margin-top: 40px!important;
}

.m-t-60{
    margin-top: 60px!important;
}

.m-r-20{
    margin-right: 20px!important;
}


.m-r-40{
    margin-right: 40px!important;
}

.m-30{
    margin: 30px!important;
}

/*////Ends here///*/





/*///Padding//*/

.p-0{
    padding: 0!important;
}

.p-5{
    padding: 5px!important;
}


.p-10{
    padding: 10px!important;
}
.p-30{
    padding: 30px!important;
}

.p-45{
    padding: 45px!important;
}

.p-t-40{
    padding-top: 40px!important;
}

.p-b-40{
    padding-bottom: 40px!important;
}


/*///ends here////*/




/*////Fonts////*/


.f-12{
    font-size: 12px!important;
}

.f-14{
    font-size: 14px!important;

}


.f-16{
    font-size: 16px!important;
}

.f-17{
    font-size: 17px!important;
}

.f-18{
    font-size: 18px!important;
}

.f-20{
    font-size: 20px!important;
}



.f-22{
    font-size: 22px!important;
}


.f-24{
    font-size: 24px!important;
}

.f-29{
    font-size: 29px!important;
}

.f-w{
    color:#fff!important;
}


.w-100{
    font-weight: 100!important;
}


.w-500{
    font-weight: 500!important;
}

.w-800{
    font-weight: 800!important;
}


.f-8{
    font-size: 5em!important;
}




.carousel-inner>.item>img{
    width: 100vw;
    height: 100%;

    opacity: 0.82;
}


@media screen and (max-width: 767px) {

    #main-slider .carousel .item {

        height: 273px;
    }

    #main-slider .carousel .item.active {
        background-size: contain;
        height: 30vh;
        margin-top: 70px;
    }

    .tab-content .tab-pane .sec-1 {

        border-top: 1px solid rgba(153, 153, 153, 0.37);
        border-left: none;
        padding: 20px 0px;
    }

    .viewmorebtn {
        position: static;
        width: 100%;
        /* text-transform: capitalize; */
        /* right: -61px; */
        /* top: 112px; */
        /* width: 115px; */

        transform: initial;

    }
}



/*///ends here///*/
